@charset "UTF-8";

* 
{

    padding: 0;
    margin: 0;

}

:root
{

    --backgroundColor: #FBAAA0;

}

body 
{
    
    background-color: var(--backgroundColor);

}

header
{

    background-color: white;    

}

.headerContainer
{

    display: flex;
    flex-direction: row;    

}

.logo 
{

    padding: 2% 4%;    

}

.villageLogo 
{

    height:110px;
    border-radius: 25%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);    

}

.villageLogo:hover
{

    cursor: pointer;
    -webkit-transform: scale(1.1);
    transition: 0.2s ease-in;

}

.nav 
{
        
    padding-top: 2%; 
    margin-left: 6%;
    width: 50%;    

}

.navList 
{

    list-style: none;
    display: flex;    

}

.liList
{

    margin-left: 3%;
    font-size: 1.3rem;
    margin-top: 5%;  

}

.liList:hover
{

    color: var(--backgroundColor);
    font-weight: bolder;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transition: 0.2s ease-in;

}

.searchCart
{

    padding-top: 4.8%;
    margin-left: 2%;
    width: 10%;

}

#cartIcon 
{

   margin-left: 20%;
   -webkit-transform: scale(1.6);

}

#cartIcon:hover
{

    cursor: pointer;
    -webkit-transform: scale(1.8);
    transition: 0.2s ease-in;
       

}

#searchIcon 
{
    
    -webkit-transform: scale(1.6);    

}

#searchIcon:hover
{

    cursor: pointer;
    -webkit-transform: scale(1.8);
    transition: 0.2s ease-in;

}

#userLogin
{

    margin-left: 20%;
    -webkit-transform: scale(1.6);  

}

#userLogin:hover 
{

    cursor: pointer;
    -webkit-transform: scale(1.8);
    transition: 0.2s ease-in;       

}

#menuBars
{

    display: none;

}

.products
{

    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;

}

.slider
{

    display: block;
    height: 293px;
    width: 350px;
    margin: auto;
    margin-top: -600px;
    position: relative;

}

.slider li 
{

    list-style: none;
    position: absolute;

}

.slider img
{

    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;

}

.orange 
{

    padding-top: 35%;
    padding-left: 35%;

}

.woman
{

    padding-top: 35%;
    padding-left: 50%;

}

.slider input 
{

    display: none;

}

.slider li input:checked ~ img 
{

    opacity: 1;
    visibility: visible;
    z-index: 10;

}

.slider label 
{

    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;

}

.slider li:nth-child(1) label 
{

    left: 30px;
    bottom: 90px
    

}

.slider li:nth-child(2) label 
{

    left: 90px;
    bottom: -60px
    

}

.slider li:nth-child(3) label 
{

    left: 60px;
    bottom: 20px;

}
